{% extends "base.html" %}
	{% block container %}
		
		<div class="container">
	
		{% if new_profile %}
			<form action="/profiles/u" method="post" ENCTYPE = "multipart/form-data">
			{% csrf_token %}
			{{formset}}
			<input type="submit" />
			</form>
		{% else %}
			{% if pic_exists %}
					{{profile_url}}
				<div id="profile_pic"><img src="{{profile_pic_url}}" /></div>
			{% endif %}
			{% if resume_exists %}
				<div id="resume"><a href="{{resume_url}}" >Resume </a></div>
			{% endif %}
		{% endif %}
	{% endblock %}
	</div>
	</body>
</html>